@import "tailwindcss";

html{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    border: 2px solid black;
    height: calc(60vw * 1.414);
    max-height: 90vh;
    max-width: 40vw;
    width: 60vw;
    padding: 0px;
    margin: 0;
}

#content{
    font-size: x-large;
    height: calc(60vw * 1.414);
    max-height: 90vh;
    max-width: 40vw;
    width: 60vw;
    padding: 2px;
    outline: none;
}