
html{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#contentContainer{
    border: 1px solid black;
    height: calc(60vw * 1.414);
    max-height: 90vh;
    max-width: 40vw;
    width: 60vw;
    padding: 0px;
    margin: 0;
    margin-top: 5%;
}

#tools{
    position: absolute;
    width: 100%;
    border: 1px solid black;
    height: 4%;
    background: #00aeff;
    left: 0;
    top:0;
    overflow: hidden;
    display: flex;
}

#content{
    font-size: x-large;
    height: calc(60vw * 1.414);
    max-height: 89.5vh;
    max-width: 39.5vw;
    width: 59.5vw;
    padding:0px;
    outline: none;
    border: 0;
}

#dropDown{
    height: 57%;
    width:1.3%;
    margin: auto;
    position: absolute;
    top: 20%;
    left: 0.5%;
    background-color: white;
}

#dropDownImage{
    height: 100%;
    width: 100%;
}

#droppedDown{
    width: 10rem;
    position: absolute;
    padding: 10px;
    display: none;
    left: 0;
    border: 2px solid gray;
    gap: 10px;

}

.dropButton{
    padding: 2px;
    margin: 2px;
    width: 5rem;
}